<?xml version="1.0" encoding="utf-8"?>
<!--
  Written only when the template was given a folder of packages: RulealizeStudio's, while they
  are not on nuget.org. Once they are, this file is not written and can be deleted.
-->
<configuration>
  <packageSources>
    <add key="RulealizeStudio" value="FEED_FOLDER" />
  </packageSources>
</configuration>
